/* src/app/components/single-post/single-post.component.css */
.poke-ball {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #fff 70%, #d52b1e 70%, #d52b1e 100%);
    border: 5px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .poke-ball__top,
  .poke-ball__bottom {
    position: absolute;
    width: 75%;
    height: 45%;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(91, 25, 25), rgba(255,0,0,1));
    border: 5px solid #000;
  }
  
  .poke-ball__top {
    top: 0;
    border-bottom: none;
  }
  
  .poke-ball__bottom {
    bottom: 0;
    border-top: none;
  }
  
  .poke-ball__button {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 30px;
    height: 50px;
    background-image: linear-gradient(to right, rgba(215, 214, 214, 0.858), rgb(86, 85, 85));
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .poke-ball__content {
    position: relative;
    z-index: 1;
    color: #cab600;
    text-align: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
     font-family: 'Roboto', sans-serif; */
    font-size: 15px; 
    text-shadow: 1px 1px 1px rgb(0, 0, 0); 
  }
  